.data-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.console-div {
  display: flex;
  flex-direction: row;
}

button {
  margin: 10px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #4287f5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 70%;
  font-weight: 700;
}

button:hover {
  scale: 1.01;
}

button:active {
  background-color: #166af2;
  color: white;
}

.moist-input {
  margin: 10px;
  height: 30px;
  width: 200px;
}
